<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="imbWBI.Tools.Install" Language="1033" Version="0.1.2.0" Manufacturer="imbVeles" UpgradeCode="bc9a91ac-323f-42a5-abf4-61a32e2bb7a5">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of imbWBI Console Tool is already installed." />
		<MediaTemplate />

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="imbWBIConsole.exe" Guid="{3248B990-A1BF-429C-8ADB-5CA05B0AE565}">
        <File Id="imbWBIConsole.exe" Source="$(var.imbWBI.Tools.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>


    <Feature Id="ProductFeature" Title="imbWBI.Tools.Install" Level="1">
      <ComponentRef Id="imbWBIConsole.exe" />
		</Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    
	</Product> 
</Wix>
